<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <h1>Welcome to The Pantry</h1>
    <%- include('../partials/_navbar.ejs') %>

    <% if (pantry.length === 0) { %>
        <p>NO Items In Pantry</p>
      <%  } else { %>
        <ol>
          <% pantry.forEach(item => {%>
            <li>
              <%= item.foodName  %>
            </li>
            <% }); %>
        </ol>
      <% } %>

  </body>
</html>